@font-face {
   font-family: '2023_01_01_BCSans-Bold_2f';
   font-display: swap;
   src: url('file:///C:/Users/mniel/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-11-25_192248/fonts/2023_01_01_BCSans-Bold_2f/font.woff2');
}
